.welcomeFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4vh;
}
.side {
  height: 55vh;
}
.side-1 {
}
.side-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  width: 25em;
}

.welcome {
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  font-family: "Signika Negative";
  display: flex;
  margin-top: 2em;
  color: var(--bistrebrown);
}

.about {
  font-size: 3.5em;
  background: var(--amazongreen);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  color: white;
  font-family: "Oswald";
  margin-left: 2vw;
  width: 675px;
  border-radius: 5px;
  box-shadow: inset var(--background) 0px 0px 15px;
}

.name {
  margin-top: 0.5em;
  padding-inline: 0.25em;
  margin-bottom: 0.25em;
}
.location {
  opacity: 0.6;
  font-family: "Signika Negative";
  margin-top: 0;
  font-size: 0.75em;
  margin-bottom: 0.25em;
  margin-inline: 0.25em;
}

.nounSpan {
  display: inline;
  background: white;
  margin-inline: 0.15em;
  margin-block: 0.25em;
  padding-inline: 0.1em;
  color: var(--amazongreen);
  transition: all 300ms;
}

.centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-size: contain;
  margin-inline: auto;
  border-radius: 50%;
  border: 10px solid white;
  background-image: url("../images/snakewoodlandselfie.jpg");
}

.introduction {
  margin-block: auto;
  background: var(--palegreen);
  border-radius: 10px;
  box-shadow: inset var(--background) 0px 0px 15px;
}

.introText {
  font-size: 1.25em;
  margin-top: 1vh;
  width: 90%;
  color: var(--bistrebrown);
  margin-left: 1vw;
}

.contactSection {
  margin-top: 1em;
  margin-left: 1vw;
  color: var(--bistrebrown);
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  justify-self: flex-end;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact > span {
  margin-right: 1vw;
}

.browse {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  font-family: "Signika negative";
  font-style: italic;
  margin-top: 3em;
  width: 20em;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  cursor: pointer;
  color: var(--bistrebrown);
  animation-name: browse;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.browse:hover > span {
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cardFlex {
  margin-inline: 5em;
  margin-top: -4em;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  font-family: "Signika Negative";
}

@media only screen and (min-width: 1921px) {
  .welcomeFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-inline: 6em;
  }
  .introduction {
    max-width: 40em;
  }

  .cardFlex {
    margin-inline: 30em;
    justify-content: center;
  }
}

@media only screen and (min-width: 1451px) {
}

@media only screen and (max-width: 1450px) {
  .welcomeFlex {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /* height: ; */
  }
  .welcome {
    margin-top: 0;
  }

  .side {
    height: auto;
    width: 100%;
    margin-block: none;
  }
  .side-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .about {
    width: 800px;
    margin-inline: 0;
  }
  .center {
    margin-block: 50px;
  }
  .centerImage {
    width: 400px;
    height: 400px;
  }

  .side-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .introduction {
    width: 800px;
    margin-block: 0;
  }

  .browse {
    width: 80%;
    height: 100px;
    padding-top: 100px;
  }
  .cardFlex {
    margin-inline: 20px;
  }
}
@keyframes browse {
  0% {
    margin-top: 3em;
  }
  10% {
    margin-top: 2.85em;
  }
  20% {
    margin-top: 3em;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}
