.controlButton {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgb(56, 56, 56);
  margin-top: -30px;
  margin-left: 50px;

  cursor: pointer;
  color: black;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 550ms;
  width: 200px;
  height: 200px;
  position: relative;
}

.controlButton > h1 {
  font-size: 20px;
  width: 100%;
  background: var(--peachGradient);
  /* background: purple; */
  margin-top: 0;
  padding-block: 3px;
  font-weight: bolder;
  text-align: center;
  align-self: center;
  color: white;
  justify-self: flex-start;
}
.statusIcon {
  font-size: 3.3em;
  justify-self: center;
  margin-top: -20px;
}

.project:hover .controlButton {
  display: flex;
  opacity: 1;
}

.project:hover .statusIcon {
  font-size: 4em;
}
.project:hover .h1 {
  font-size: 20px;
}

@media screen and (min-width: 1921px) {
  .controlButton {
  }
}

@media screen and (max-width: 1919px) {
  .controlButton {
  }
}
