.controlButton {
  transform: translate(575px, -100px);
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgb(56, 56, 56);
  margin: -30px 25px 50px 25px;
  width: 150px;
  height: 140px;
  cursor: pointer;
  color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 750ms;
  position: relative;
}

.controlButton > h1 {
  font-size: 16px;
  width: 100%;
  background: var(--palebluecont);
  /* background: purple; */
  margin-top: 0;
  padding-block: 3px;
  font-weight: bolder;
  text-align: center;
  align-self: center;
  color: black;
  justify-self: flex-start;
}
.statusIcon {
  font-size: 3em;
  justify-self: center;
  margin-top: -20px;
}

.project:hover .controlButton {
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-30px, 70px);
  margin-left: 70px;
}

.project:hover .statusIcon {
  font-size: 4em;
}
.project:hover .h1 {
  font-size: 20px;
}

@media screen and (min-width: 1921px) {
  .controlButton {
    transform: translate(620px, -100px);
  }
}

@media screen and (max-width: 1919px) {
  .controlDescSection {
    display: inline;
  }
  .controlButton {
    position: relative;
    transform: translate(500px, -100px);
  }
}
