.right-info {
  position: absolute;
  width: 2%;
  height: 550px;
  background: white;
  margin-right: 0;
  margin-left: 98%;
  margin-top: 5%;
  border-radius: 10px 0 0 10px;
  background: var(--amazongreen);
  transition: all 500ms;
}

.qualifications > p {
  transform: rotate(-90deg) translate(-150px, 0px);
  margin-left: 0;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: left;
  color: white;
  font-family: "Signika Negative";
  transition: all 600ms;
}

.right-info:hover {
  margin-left: 85%;
  width: 15%;
}
.right-info:hover > .qualifications > p {
  transform: rotate(0deg) translate(0, 0);
  text-align: center;
}
.qualification-list {
  opacity: 0;
  width: 0px;
}
.right-info:hover .qualification-list {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: 1rem;
  width: auto;
}
.qualification-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-block: 1rem;
  opacity: 0;
  transition: all 400ms;
}

.right-info:hover .qualification-item {
  opacity: 1;
}

object {
  border: none;
}
.qual-image {
  width: 25%;
  height: auto;
  margin-inline: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
}
.qual-1 > span {
  background-image: url("../../images/codingandlogic.png");
}
.qual-2 > span {
  background-image: url("../../images/cloudservices.png");
}
.qual-3 > span {
  background-image: url("../../images/networking.png");
}
.qual-info-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 5px;
  width: 75%;
  border-radius: 5px;
}

.qual-info-flex > * {
  margin-block: 2px;
  color: white;
}
.qual-issuer {
  font-size: 1.2rem;
}
.qual-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.qual-info-footer {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: baseline;
}
.qual-info-footer > * {
}
.qual-date {
  font-size: 1.2rem;
}
.qual-link {
  color: white;
  margin-inline: 1rem;
}

@media screen and (min-width: 1921px) {
  .right-info:hover {
    margin-left: 90%;
  }
  .right-info:hover > .qualifications > p {
    text-align: center;
    margin-inline: auto;
    transform: rotate(0deg) translate(-75px, 0px);
  }
  .qualifications > p {
    transform: rotate(-90deg) translate(-250px, 0px);
  }
  .qual-image {
    width: 20%;
  }
}
@keyframes qualifications {
}
