.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 0;
  height: 4em;
  background-color: var(--glaucousblue);
}
.navbar > li {
  margin: 1em;
  height: 2em;
  padding-inline: 0.25em;
  list-style: none;
  text-decoration: none;
  transition: all 100ms;
}

.navbar > li > a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.25em;
}

.navbar > li:hover,
.header > li:active {
  color: black;
  transform: translateY(0.3em);
  border-bottom: 3px solid var(--glaucousblue);
}

li > a.activePage {
}
.activePage {
  color: var(--bistrebrown) !important;
}
