.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 0;
  height: 6rem;
  background-color: var(--darkamazongreen);
}
.navbar > li {
  margin-inline: 1rem;
  margin-top: 3rem;
  height: 6rem;
  padding-inline: 0.25em;
  list-style: none;
  text-decoration: none;
  transition: all 100ms;
}

.navbar > li > a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.navbar > li > a:not(.activePage):hover {
  transform: translateY(0.3em);
  border-bottom: 3px solid var(--palegreen);
}

li > a.activePage {
}
.activePage {
  border-bottom: 3px solid var(--palegreen);
  color: white !important;
}
