.card {
  width: 20vw;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgb(199, 193, 193);
  transition: all 1000ms;
  text-align: center;
  background-color: var(--bistrebrown);
  color: white;
  text-decoration: none;
  opacity: 0;
  margin-bottom: 2vh;
}

.card:hover {
  box-shadow: 0px 0px 10px rgb(220, 213, 213);
  transform: scale(1.03);
}

.card:hover .title {
  margin-top: 1em;
}
.card:hover .desc {
  opacity: 1;
}

.title {
  font-size: 1.5em;
  transition: all 200ms;
  margin-top: 3em;
}

.desc {
  transition: all 100ms;

  opacity: 0;
  margin-bottom: 2em;
}
