:root {
  background-color: var(--spaceblue);

  --shadowblue: #8499b1;
  --glaucousblue: #5c80bc;
  /* testing colours*/
  --paleblue: #b4c9e0bc;
  --palebluecont: #9dcbffc8;
  --palegreen: #afd2b48e;
  --palepurple: #d6cdea;
  --palepurplecont: #eae0fd;
  --paleorange: #fbd4ae;
  --paleorangecont: #fddec0;
  --paleblue: #b9dfff;
  --darkamazongreen: #2c4530;
  --peachGradient: linear-gradient(to left, #f2709c, #ff9472);
  --peachGradientLowO: linear-gradient(to left, #f2709b6d, #ff94727d);

  /* new colour scheme test*/
  --spaceblue: #0f172a;
  --brightblueaccent: #a5fefa;
  --darkblue: #0a101d;
  --tealaccent: #5bbbb5;
  --palebluecontlowopac: rgba(166, 206, 251, 0.249);

  font-size: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.material-icons {
  user-select: none;
}
