:root {
  --background: #fdf4e3;
  --beigedarker: rgba(243, 229, 207, 0.856);

  --liftedBackground: rgb(210, 200, 200);
  --amazongreen: #507255;
  --amazongreenhover: #506955;
  --middlegreen: #488b49;
  --bistrebrown: #573524;
  --shadowblue: #8499b1;
  --glaucousblue: #5c80bc;
  background-color: var(--background);
  /* testing colours*/
  --beigedarkertest: rgba(252, 234, 207, 0.877);
  --paleblue: #c6def9bc;
  --palebluecont: #adcff5c8;
  --palegreen: #afd2b48e;
  --palepurple: #d6cdea;
  --palepurplecont: #eae0fd;
  --paleorange: #fbd4ae;
  --paleorangecont: #fddec0;
  --paleblue: #cbe4f9;
  --darkamazongreen: #2c4530;
  --peachGradient: linear-gradient(to left, #f2709c, #ff9472);
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.material-icons {
  user-select: none;
}
