.intro {
  width: 30%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  font-family: "signika negative";
  font-size: 2.2rem;
  color: white;
  border-radius: 10px;
  transition: opacity 400ms;
}
.intro > p {
  padding-inline: 2rem;
}
.intro::after {
  content: "";
  display: block;
  position: relative;
  width: 3px;
  background: var(--darkblue);
  height: 500px;
  border-radius: 10px;
  margin-left: 105%;
  margin-top: -65%;
}

.codingPage {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
}

.projectList {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 3.5rem;
  margin-bottom: 100px;
}

@media screen and (min-width: 1921px) {
  .intro {
    width: 800px;
  }
  .projectList {
    width: 900px;
  }
}

@media screen and (max-width: 1450px) {
  .intro {
    width: auto;
    max-width: 700px;
    margin-inline: auto;
  }
  .projectList {
    width: auto;
    margin-inline: auto;
    align-items: center;
    min-width: 400px;
    max-width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .intro {
    width: auto;
    min-width: 400px;
  }
  .projectList {
    width: auto;
    margin-inline: auto;
    align-items: center;
    min-width: 500px;
    max-width: 650px;
  }
}

@media screen and (max-width: 600px) {
  .codingPage {
    display: flex;
    flex-direction: column;
  }
  .right-info {
    display: none;
  }
  .intro {
    margin-block: 0;
  }
  .intro > p {
    font-size: 2rem;
  }
  .intro::after {
    display: none;
    height: 0;
    margin: 0;
  }
  .projectList {
    margin-block: 0;
  }
}
