:root {
  /* background-color: white !important; */
}

.project {
  width: 100%;
  height: 250px;
  margin-block: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  transition: all 400ms 200ms;
  opacity: 0;
}
.project:hover {
  transform: scale(1.05);
  height: 700px;
}
.project:hover .description {
  margin-top: 0px;
}
.project > p {
  margin-left: 10px;
}
.projecttitle {
  margin-top: 10px;
  font-family: "oswald";
  font-size: 35px;
  width: auto;
  margin-right: auto;
  padding-inline: 10px;
  border-radius: 5px;
  color: white;
}

.description {
  font-family: "signika negative";
  color: black;
  margin-top: 10px;
  width: 80%;
  font-size: 2rem;
  text-align: justify;
  padding-inline: 10px;
  padding-block: 5px;
  margin-left: 10px;
  border-radius: 5px;
  transition: all 500ms;
}
.techList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* .Project {
  transition: opacity 400ms 400ms;
}

.Control {
  transition: opacity 400ms 800ms;
}

.Smart {
  transition: opacity 400ms 1200ms;
} */
.Control > .projecttitle {
  background: var(--peachGradient);
  color: white;
}

.Project > .projecttitle {
  background: rgb(51, 153, 194);
}

.Smart > .projecttitle {
  background: #9370db;
}
@media screen and (max-width: 700px) {
  .controlDescSection > .description {
    width: 75% !important;
  }
  .controlButton {
    display: none;
  }
}
